
.title{
  text-align: center;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 500px;
  max-width: 1100px;
  margin: 0 auto;
 
}


.flex-item1{
  flex: 1;
}

.flex-item2{
  flex: 1;
}

.grid{
  border: 1px solid black;
  display: grid;
  width: 500px;
  height: 500px;
}


/*.grid-item:hover{
  
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(1.04);
}*/

